<?xml version="1.0" encoding="utf-8"?>
<GlobalSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <logFolder>C:\Documents and Settings\Matt\My Documents\APEX\PacketHandler\PacketHandler\bin\Debug</logFolder>
  <Interfaces>
    <InterfaceSettings>
      <TCPHost>127.0.0.1</TCPHost>
      <TCPPort>7322</TCPPort>
      <sBaud>2400</sBaud>
      <sPort />
      <sParity>None</sParity>
      <sDatabits>8</sDatabits>
      <sStopbits>One</sStopbits>
      <XMLStructurePath>C:\Documents and Settings\Matt\My Documents\APEX\XML\apexii_test.xml</XMLStructurePath>
      <PacketStructure>
        <PacketType>UKHAS</PacketType>
      </PacketStructure>
      <Enabled>false</Enabled>
      <InterfaceName>fldl</InterfaceName>
      <InterfaceDirection>DataIn</InterfaceDirection>
      <InterfaceType>FLDIGI</InterfaceType>
      <Filters />
    </InterfaceSettings>
    <InterfaceSettings>
      <TCPHost>127.0.0.1</TCPHost>
      <TCPPort>7322</TCPPort>
      <sBaud>2400</sBaud>
      <sPort />
      <sParity>None</sParity>
      <sDatabits>8</sDatabits>
      <sStopbits>One</sStopbits>
      <XMLStructurePath />
      <PacketStructure>
        <PacketType>BLANK</PacketType>
      </PacketStructure>
      <Enabled>false</Enabled>
      <InterfaceName>mp</InterfaceName>
      <InterfaceDirection>DataSharingOut</InterfaceDirection>
      <InterfaceType>MAPPOINT</InterfaceType>
      <Filters />
    </InterfaceSettings>
  </Interfaces>
  <TimeZone>0</TimeZone>
  <UseUTC>false</UseUTC>
</GlobalSettings>